.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.1);
}
