$nav-height: 65px;
$nav-initial-padding: 150px;
$nav-search-max-width: 450px;
$nav-background-color: #fff;
$nav-border-color: #e0e0e0;

$nav-login-button-color: #fff;

$accent-color: rgb(23, 23, 23);
$text-color: #383838;

$ff-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$side-section-min-width: 290px;
